{% block footer %}
    <footer class="footer">
        <div class="container">
            <p class="text-muted text-center">Early Access - Trainee Project</p>
        </div>
    </footer>
{% endblock %}