{% block footer %}
    <footer class="footer">
        <div class="container">
            <p class="text-muted">Early Access - Trainee Project<br>Anfragen an: <i>Domenic.Gerhold@reservix.de</i></p>
        </div>
    </footer>
{% endblock %}