{% block navbar %}
    <div class="container col-footer">
        <div class="row">
            <div class="col-12">
                <center>Impressum</center>
                <center>Info</center>
            </div>
        </div>
    </div>
{% endblock %}