<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}WOF{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>



    {% stylesheets
        'css/bootstrap.min.css'
        'css/main.css'
        filter='cssrewrite' output='css/compiled/app.css' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    {% javascripts
    'js/jquery-3.2.1.min.js'
    'js/bootstrap.min.js'
    output='js/compiled/app.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
</head>

<!-- in my overall is the color definition for the hole page -->
<body class="overall-background">
{% include 'partials/navbar.html.twig' ignore missing %}

<div class="container inner-windows">
    <div class="row">
        <div class="col-md-3 inner-description">
            {% block description %}{% endblock %}
        </div>
        <div class="col-md-9 inner-body">
            {% for message in app.flashes('error') %}
                <div class="flash-notice">
                    <div class="alert alert-danger" role="alert">{{ message }}</div>
                </div>
            {% endfor %}
            {% block body %}{% endblock %}
        </div>
    </div>
</div>

{% include 'partials/footer.html.twig' ignore missing %}



</body>

</html>
