{% extends 'base.html.twig' %}

{% block body %}
    <form>
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" id="locationName" placeholder="Restaurant Name">
        </div>
        <div class="form-group">
            <label>Webseite</label>
            <input type="url" class="form-control" id="locationWebsite" placeholder="www.restaurant.de">
        </div>
        <div class="form-group">
            <label>Laufweg (in Minuten)</label>
            <input type="number" class="form-control" id="locationWalktime" placeholder="3">
        </div>
        <div class="form-group">
            <label>Straße</label>
            <input type="text" class="form-control" id="locationStreet" placeholder="Kaiserstr. 69">
        </div>
        <div class="form-group">
            <label>Postleitzahl</label>
            <input type="number" class="form-control" id="locationPostcode" placeholder="60311">
        </div>
        <div class="form-group">
            <label>Letzter Besuch</label>
            <input type="date" class="form-control" id="locationLastvisit" placeholder="Optional">
            <p class="help-block">Dieses Feld ist Optional</p>
        </div>
        <button type="submit" class="disabled btn btn-success">Hinzufügen</button>
    </form>

{% endblock %}

{% block description %}
    Hier kannst du Restaurant hinzufügen. Um deine Restaurants anzusehen und zu bearbeiten klicke hier. [WIP]
{% endblock %}
