{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(form) }}
    {{ form_row(form.name, { 'attr': {"placeholder":"max. 50 Zeichen"}, "label": "Gruppenname: " }) }}
    {{ form_row(form.description, { 'attr': {"placeholder":"max. 1000 Zeichen"}, "label": "Gruppenbeschreibung: " }) }}
    <button type="submit" class="btn btn-success">Hinzufügen</button>
    {{ form_end(form) }}

{% endblock %}

{% block description %}
    Erstelle eigene Gruppen oder trete ihnen bei um mit deinen Freunden essen zu gehen!
{% endblock %}
