{% extends 'base.html.twig' %}

{% block body %}
    Restaurant: {{ restaurant }}

{% endblock %}

{% block description %}
    <a class="btn btn-default btn-sm btn-block"
       href="{{ path('group_details', { 'group': group.id}) }}">Zurück</a>
{% endblock %}