{% extends 'base.html.twig' %}

{% block body %}

    {% form_theme form 'bootstrap_3_layout.html.twig' %}

    {{ form_start(form) }}
    {{ form_row(form.cityName, { 'attr': {"placeholder":"max. 50 Zeichen"}, "label": "Name der Stadt: " }) }}
    <button type="submit" class="btn btn-success">Eintragen</button>
    {{ form_end(form) }}

{% endblock %}

{% block description %}
    <a class="btn btn-default btn-sm btn-block"
       href="{{ path('city_list') }}">Abbrechen</a>
{% endblock %}