{% extends 'base.html.twig' %}

{% block body %}

    <table class="table table-responsive">
        <thead>
        <th>Name</th>
        <th></th>
        <th></th>
        </thead>

        <tbody>
        {% for city in cities %}
            <tr>
                <td>{{ city.cityName }}</td>
                <td><!-- Change Button -->
                    <button type="button" class="btn btn-block btn-warning" id="{{ city.id }}" data-toggle="modal" data-target="#changeModal">Umbenennen</button>
                </td>
                <td><!-- Delete Button -->
                    <button type="button" class="btn btn-block btn-danger" data-toggle="modal" data-target="#deleteModal">Löschen</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- changeModal -->
    <div class="modal fade" id="changeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="name" placeholder="">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                    <button type="button" class="btn btn-success" id="saveChange">Speichern</button>
                </div>
            </div>
        </div>
    </div>

    <!-- deleteModal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Sicher das Sie die Stadt: X löschen möchten?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                    <button type="button" class="btn btn-danger" id="delete">Löschen</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block description %}
    <a class="btn btn-success btn-sm btn-block"
       href="{{ path('city_add') }}">Neue Stadt eintragen</a>
    <br>
    <b>Bereich nur für Admins sichtbar!</b>
{% endblock %}
