<!DOCTYPE html>
<html>
<head>
    <title>MitEsser - Portal</title>
</head>

<body>
<h1>Hallo <small>{{ username }},</small></h1>
<div>
    <p>danke für deine Registrierung im MitEsser-Portal.</p>
    <p>Du kannst dich <a href="10.138.0.80{{ path('login') }}">hier</a> sofort anmelden.</p>
    <br>
    <p><small>Dein MitEsser - Portal</small></p>
</div>
</body>

</html>